* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap");

li {
  list-style: none;
}

body {
  background-color: #dddddd;
}

p {
  color: #696969;
  font-size: 13px;
  line-height: 20px;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  padding: 40px;
}

h1 {
  width: 25%;
  line-height: 1.2;
}

header p {
  font-size: 13px;
  padding: 10px 0 20px;
  border-bottom: 1.5px solid #efefef;
}

h2 {
  font-size: 17px;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
  position: relative;
}

h2:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 25px;
  height: 2px;
  background: #000;
  left: 0px;
}

main .wrapper {
  display: flex;
}

.left-card {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 2px solid #efefef;
  padding: 25px 0;
}

.right-card {
  flex-basis: 65%;
  padding: 25px 0 0 30px;
}

h3 {
  font-size: 13px;
  margin-bottom: 4px;
}

h3:not(:nth-of-type(1)) {
  margin-top: 12px;
}

.profile,
.employment {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid #efefef;
}

.profile p {
  text-align: justify;
}

.location {
  display: flex;
  justify-content: space-between;
}

.year {
  margin-bottom: 5px;
}

.work p {
  position: relative;
  flex-basis: 95%;
  text-align: justify;
}

.employment1 {
  margin-bottom: 20px;
}

.work-list li {
  display: flex;
}

.work-list li span {
  flex-basis: 5%;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  align-self: baseline;
}

.work-list li span::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #999;
  position: absolute;
  text-indent: 0;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.education1 {
  margin-bottom: 20px;
}

ul li a,
.skills-list li {
  font-size: 13px;
}

.links-list,
.skills-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links-list li a {
  color: #696969;
}

.info {
  margin-bottom: 12px;
}

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .container {
    width: 70%;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  main .wrapper {
    flex-direction: column;
  }

  .left-card {
    padding: 25px 30px;
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-grow: 1;
  }

  .email-card {
    margin-top: 40px;
  }

  .details-card,
  .email-card,
  .links,
  .skills {
    flex-basis: 50%;
  }

  h2 {
    margin-bottom: 20px;
  }

  header .wrapper {
    padding: 0 25px;
  }

  .container {
    padding: 20px;
  }

  .right-card {
    padding: 25px 30px 0 30px;
  }

  .details-card {
    padding-right: 20px;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .left-card,
  .details {
    flex-direction: column;
  }

  .email-card {
    margin-top: 0px;
  }

  .details {
    margin-bottom: 0px;
  }

  .links {
    margin-bottom: 20px;
  }

  .left-card {
    margin: 25px 30px;
    padding: 0 0 25px 0;
    border-bottom: 2px solid #efefef;
  }

  .right-card {
    padding: 0px 30px 0 30px;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .left-card {
    margin: 25px 20px;
  }

  .right-card {
    padding: 0px 20px 0 20px;
  }

  p {
    line-height: 23px;
  }

  .container {
    width: 80%;
  }
}
