* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap");

body {
  background-color: #dddddd;
}

p {
  color: #999;
}

.container {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  padding: 40px;
}

h1 {
  width: 25%;
  line-height: 1.2;
}

header p {
  font-size: 15px;
  padding: 10px 0 15px;
  border-bottom: 1.5px solid #efefef;
}

